<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Resume</title>
    <meta name="description" content="{{ meta_content }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="assets/styles.css?v={{ asset_version }}">
    {% if ga_id %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ ga_id }}');
    </script>
    {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">
<div class="site">
    {% block main %}{% endblock %}
</div>
<footer>
    <div class="footer-actions">
        <a class="pdf-export-button" href="./{{ print_page }}?autoprint=1" target="_blank" rel="noopener">
            <em class="fa fa-file-pdf-o"></em>{{ pdf_export_text }}
        </a>
    </div>
    <p>
        Last updated on: {{ update_time }}.
        <a href="./index.html">中文</a>
        <a href="./index-en.html">English</a>
    </p>
</footer>
<script src="assets/scripts.js?v={{ asset_version }}"></script>
</body>

</html>