<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ name }}的简历</title>
    <meta name="description" content="{{ meta_content }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="assets/styles.css">
    {% if ga_id %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ ga_id }}');
    </script>
    {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">
<div class="site">
    {% block main %}{% endblock %}
</div>
<footer>
    <p>
        <!-- Knowledge is ubiquitous, much like sunshine and air. -->
        <!-- <a {% if website %}
                href="{{ website }}"
           {% else %}
                {% if github %} href="{{ github }}" {% endif %}
           {% endif %}
           target="_blank">
            {{ nickname }}
        </a> -->
        Last updated on: {{ update_time }}. Made by <em class="fa fa-heart throb" style="color: #d43f57;"><a href="https://github.com/istarwyh/resume-it" target="_blank">resume-it</a></em>
        .
        
        <!-- <a href="./print.html">打印版</a>  -->
    </p>
</footer>
<script src="assets/scripts.js"></script>
</body>

</html>